img[alt]{ /* Decimos que si la imagen tiene un atributo alt */
    border: 5px solid blue;
}
img[src="img/logoTec.png"]{ /* Si cuenta con esa misma ruta se modifica */
    width: 400px;
}
img[src^="img/"]{ /* Simbolo circunflejo: Busca una subcadena al inicio de la cadena */
    width: 150px;
}
img[src$="png"]{ /* Busca una subcadena al final de la cadena */
    width: 250px;
} 
img[src*="mg/"]{  /* Busca una subcadena en cualquier parte de la cadena */
    width: 1000px;
}
/* Equivalente a: 
.resaltado */
article[class~="resaltado"]{ /* Toma las clases como si estuvieran separadas por espacios (Es la manera correcta)*/
    border: 1px dashed blue;
}
article[class~="ingles"]{
    border: 1px dashed blue;
}
article[class~="archivo"]{
    border: 1px dashed blue;
}
article[class|="ingles"]{ /* A la clase la tomara con guion y como clase individual */ 
    text-align: center;
}

div > p{ /* Solo los hijos p directos de div */
    color: blue;
}
div p{ /* Todos los p dentro de un div */
    color: red;
}

h2 + p{ /* La primera p despues de h2 */
    color: gray;
}

h2 ~ p{ /* Toma todos los elementos seguidos de h2 */
    color: green;
}

#resumen,#experimento,#pruebas,#resultados,#conclusiones{
    color: red;
}
section:not(#referencias){  /* Indica que se modificara todo menos referencias */
    color: blue;
}

li:nth-child(odd){ /* N elemento hijo impar (odd es de impar) */
    color: green;
}
li:nth-child(even){ /* pares */
    color: blue;
}
li:nth-child(5){ /* Quinto elemento */
    color: red;
}
li:nth-last-child(2){ /* Primer elemento de abajo hacia arriba */
    color: purple;
}

p:first-line{ /* Solo la primera linea */
    color: red;
    font-weight: bold;
}